<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/news_detail.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" type="css/css.css" href="css/css.css">
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.glide.min.js"></script>
</head>
<body>
<script type="text/javascript" src="js/jquery1.42.min.js"></script>
</script>
<
script
type = "text/javascript"
src = "js/jquery.SuperSlide.2.1.1.js" ></script>

<!--头部-->
<div class="head">
    <div class="head_1200">
        <div class="tel">
            <a href="#">0755-89373047</a>
        </div>
        <div class="ter">
            <ul class="ter_l">
                <li>
                    <a href="#">官方微博</a>
                </li>
                <li>
                    <a href="#">个人中心</a>
                </li>
                <li>
                    <a href="#">加入我们</a>
                </li>
            </ul>

            <div class="ter_r">
                <span class="log"><a href="#">登录</a></span>
                <span class="log a"><a href="#">注册</a></span>
            </div>

        </div>
    </div>
</div>

<!--导航栏-->
<div class="nav">
    <div class="nav_w1200">
        <div class="logo"><img src="../images/logo.png"/></div>
        <div class="right">
            <ul>
                <li class="nav_button">
                    <a href="#">首页</a>
                </li>
                <li>
                    <a href="#">关于德鹏</a>
                </li>
                <li>
                    <a href="#">关于德鹏</a>
                </li>
                <li>
                    <a href="#">专业介绍</a>
                </li>
                <li>
                    <a href="#">学历提升</a>
                </li>
                <li>
                    <a href="#">APP下载</a>
                </li>
                <li>
                    <a href="#">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--banner-->
<div class="banner">

    <img src="../images/xwzx_banner.jpg"/>
</div>

<div class="main">
    <div class="main_page">
        <div class="main_page_l">
            <div class="main_page_l_top">
                <img src="../images/xwzx_tb.png"/>
                <span>自考资讯</span>
            </div>
            <div class="main_page_l_mid">
                <div class="main_page_l_mid_page">
                    <span>为什么我的浮子流量计与Alicat质量流量计读书不一致</span>
                    <p>时间:2017-11-30 13:18:21 来源:食品伙伴网 点击:0次</p>
                </div>
            </div>
            <div class="main_page_l_bot">
                <ul>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浮子流量计又称为转子流量计，或变面积流量计（VAF）。它是将浮子球放在一个竖直的锥形管内，流体在锥<br/>
                        形管内自下而上流过，使浮子在一个平衡位置静止悬浮，通过浮子平衡位置的高度测量标准条件下的气体或液体的<br/>
                        质量流量。
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;订购浮子流量计时，必须选择一套确定的标准条件，包括气体类型、温度和压力，并以此进行校准。在实际使<br/>
                        用中，如果使用工况改变，某一项参数偏离了标准条件，测量的准确性就会受到影响， 因为浮子流量计不会随着使<br/>
                        用工况的改变自动修正读数。即使被设置为标流量，例如“标立方英尺/分钟”，但测量刻度线是固定距离的，如果<br/>
                        你的使用工况偏离了标准条件STP（或者你在测量另一种气体），刻度线并不会自动调整，那么你所测量的就不再<br/>
                        是标立方英尺/分钟。所以，要想<br/>
                        用浮子流量计准确的测量质量流量，就必须在标准条件下使用。
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与浮子流量计相比，Alicat质量流量计是多参数的流<br/>
                        量计，测量标流量和体积流量的同时还可显示过程压力和温度条件。由于Alicat质量流量计可同时测量这几种参数，<br/>
                        因此能够根据使用工况的改变实时修正读数，几乎不受工况影响。Alicat质量流量计通常显示的是标准质量流量，具<br/>
                        有NIST可溯源性。
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用浮子流量计的客户拿到Alicat质量流量计后通常会问，为什么我的浮子流量计读数与Alicat质量流量计不一<br/>
                        致？怎样使用Alicat质量流量计来校准他们的浮子流量计？通过前面的解释，我们知道尽管这两种流量计都可用于测<br/>
                        量流量，但它们是两种不同类型的流量计，不同技术原理，不同测量条件。就像苹果与橙子，虽然同为水果，却是<br/>
                        两种不同类型的水果。由于浮子流量计的读数准确性受流体类型、温度、压力等工况因素影响很大，而Alicat质量流<br/>
                        量计会根据工况变化自动修正读数，测量结果不受工况影响，因此在非标准条件下，两者读数可能会存在较大差异<br/>
                        。必须将浮子流量计置于标准条件下，两者的读数才能够进行对比匹配。<br/>

                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在实验室对浮子流量计进行校准时，需要通入指定类型的气体，将试验台置于指定的温度下，并使用压力控制<br/>
                        系统将浮子流量计置于它的标准条件下。这需要较多的设备投入。当浮子流量计处于标准条件下，就可以调节它的<br/>
                        读数与标准值一致，这样就完成了校准。<br/>
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 如果没有校准实验室，应该怎样使用Alicat流量计校准浮子流量计<br/>
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;温度对流量读数有一些影响，但工艺条件、气压、海拔等因素导致的压力变化对流量读数影响更大，除非温度<br/>
                        变化很大。要将浮子流量计内部温度和压力调节到与标准条件一致需要一些传感器。在野外，你可以用一<br/>
                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;台距离浮子流量计尽可能近的Alicat质量流量计作为传感器，来获取温度和压力的读数。然后控制浮子流量计内部压力<br/>
                        与标准条件一致，Alicat质量流量计与浮子流量计读数就具有可对比性了。<br/>

                    </li>
                    <li>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在浮子流量计后端竖直安装一个配带后置阀门的Alicat质量流量控制器，并将其设置为“闭环压力”模式，以控<br/>
                        制浮子流量计的出口压力恒定，我们假设这个例子中出口压力为30 PSIA。如果量程和气体类型允许，也可以使用<br/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main_page_r">
            <div class="main_page_r_top">
                <div class="main_page_r_top_head">
                    <img src="../images/xwzx_tb.png"/>
                    <span>联系我们</span>
                </div>
                <p></p>
                <span>服务热线</span>
                <div class="number">0755-89373047</div>
                <div class="first"></div>
                <div class="second">
                    <ul>
                        <li>总部地址</li>
                        <li class="item">深圳市龙岗区坂田街道五和地铁 &nbsp;&nbsp;B出口&nbsp;&nbsp;广鑫业大</li>
                        <li class="item">厦403</li>
                    </ul>
                </div>
                <span class="three"></span>
                <div class="anthor">
                    <ul>
                        <li>分校地址</li>
                        <li class="item1">广州市海珠区客村地铁D出口会展时代写字</li>
                        <li class="item1">楼11层1122</li>
                    </ul>
                </div>
            </div>
            <div class="main_page_r_bottom"></div>
        </div>
    </div>
</div>
</body>
</html>
